<!-- swati -->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link href="css/indexStyle.css" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<style>
.navbar-brand{
	        font-size: x-large;
    font-weight: bold;
    font-family: cursive;
</style>



</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- changes made by swati -->
                <a class="navbar-brand">MOBILE SENSOR</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li>
                        <a href="loginAdmin">LOGIN AS ADMIN</a>
                    </li>
               		<li>
                        <a href="loginCustomer">LOGIN AS CUSTOMER</a>
                    </li>
                   <li>
                        <a href="signupCustomer">SIGNUP AS CUSTOMER</a>
                    </li>
    
                  
                
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('./img/cloud1.jpg');"></div>
                <div class="carousel-caption">
                    <h1><font color= "#6698FF">On demand! Self Service</font></h1>
                    <h3><font color= "#6698FF">Launch your Application Anytime Anywhere.!</font></h3>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('./img/images.png');"></div>
                <div class="carousel-caption">
                  <h1><font color= "#6698FF">Use your mobile as a Magic Wand</font></h1>
                    <h3><font color= "#6698FF">Mobile sensor magic..!</font></h3>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>


    </div>
    <!-- /.container -->

    <!-- jQuery -->

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 1000 //changes the speed
    })
    </script>

</body>

</html>
