<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>           
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/img/search.png" alt="...">
      <div class="caption">
        <h3>Find Flu Vaccinations Near You</h3>
        <p> Do you know the warning signs of flu, and how flu is different from a cold?List of San Francisco Department of Public Health clinics offering flu vaccinations throughout the city</p>
        <p>
        <a href="#" class="btn btn-success" role="button">Search </a> 
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/img/st.jpg" alt="...">
      <div class="caption">
        <h3>Book An Appointment</h3>
        <p>Surprised ? Find a Doctor. Help patients find your practice and book appointments, anytime - at no cost. Practice Fusion's online booking solution comes with your free EHR.</p>
        <p>
        <a href="#" class="btn btn-success" role="button">Find</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/img/home.png" alt="...">
      <div class="caption">
        <h3>Healthy Home</h3>
        <p>The Community Resiliency Indicator System was developed by San Francisco's Climate and Health Program and is part of San Francisco's Climate and Health Profile.</p>
        <p>
        <a href="#" class="btn btn-success" role="button">Find Healthy Home</a> 
      </div>
    </div>
  </div>

</div>

           
